{% extends "base.html" %}
{% load static %}
{% block content %}
        <section class="section-lg section bg-default">
            <div class="container">
                <div class="row justify-content-sm-center">
                    <div class="col-lg-10 col-xl-8">
                        <div class="row justify-content-sm-center">
                            <div class="col-md-6">
                                <!-- Post Modern-->
                                <article class="post post-modern post-modern-classic">
                                    <!-- Post media-->
                                    <div class="post-media"><a class="link-image" href="{% url 'singlee' %}"><img class="img-responsive img-cover" width="370" height="240" src="{% static 'images/post-08-770x480.jpg' %}" alt=""/></a>
                                    </div>
                                    <!-- Post content-->
                                    <div class="post-content text-left">
                                        <!-- Post Title-->
                                        <div class="post-title offset-top-8">
                                            <h5 class="font-weight-bold"><a href="{% url 'singlee' %}">Reasons to Visit a Breast Specialist</a></h5>
                                        </div>
                                        <ul class="list-inline list-inline-dashed">
                                            <li>June 21, 2021 at 8:12pm</li>
                                            <li><a class="text-primary" href="{% url 'singlee' %}">News</a></li>
                                        </ul>
                                        <!-- Post Body-->
                                        <div class="post-body">
                                            <p>Etiam et imperdiet quam. In sit amet finibus lorem, ac ultricies enim. Aliquam volutpat enim diam, vitae. Phasellus non luctus justo, eu fringilla tortor.</p>
                                        </div>
                                        <div class="tags group group-sm"><a class="btn-tag btn btn-default" href="#">Health</a><a class="btn-tag btn btn-default" href="#">News</a><a class="btn-tag btn btn-default" href="#">Diagnostics</a>
                                        </div>
                                    </div>
                                </article>
                                <div class="offset-top-60">
                                    <!-- Post Modern-->
                                    <article class="post post-modern post-modern-classic">
                                        <!-- Post media-->
                                        <div class="post-media"><a class="link-image" href="{% url 'singlee' %}"><img class="img-responsive img-cover" width="370" height="240" src="{% static 'images/post-10-770x480.jpg' %}" alt=""/></a>
                                        </div>
                                        <!-- Post content-->
                                        <div class="post-content text-left">
                                            <!-- Post Title-->
                                            <div class="post-title offset-top-8">
                                                <h5 class="font-weight-bold"><a href="{% url 'singlee' %}">Picking the Right Diagnostic Services for Efficient Results</a></h5>
                                            </div>
                                            <ul class="list-inline list-inline-dashed">
                                                <li>June 21, 2021 at 8:12pm</li>
                                                <li><a class="text-primary" href="{% url 'singlee' %}">News</a></li>
                                            </ul>
                                            <!-- Post Body-->
                                            <div class="post-body">
                                                <p>Phasellus et lacus mattis, tincidunt metus sodales, tincidunt urna. Cras felis neque, iaculis vitae varius eu, luctus consectetur odio.</p>
                                            </div>
                                            <div class="tags group group-sm"><a class="btn-tag btn btn-default" href="#">Health</a><a class="btn-tag btn btn-default" href="#">News</a><a class="btn-tag btn btn-default" href="#">Tips</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="col-md-6 offset-top-60 offset-sm-top-0">
                                <!-- Post Modern-->
                                <article class="post post-modern post-modern-classic">
                                    <!-- Post media-->
                                    <div class="post-media"><a class="link-image" href="{% url 'singlee' %}"><img class="img-responsive img-cover" width="370" height="240" src="{% static 'images/post-09-770x480.jpg' %}" alt=""/></a>
                                    </div>
                                    <!-- Post content-->
                                    <div class="post-content text-left">
                                        <!-- Post Title-->
                                        <div class="post-title offset-top-8">
                                            <h5 class="font-weight-bold"><a href="{% url 'singlee' %}">Preparing for an ECG in 8 Easy Steps</a></h5>
                                        </div>
                                        <ul class="list-inline list-inline-dashed">
                                            <li>June 21, 2021 at 8:12pm</li>
                                            <li><a class="text-primary" href="{% url 'singlee' %}">News</a></li>
                                        </ul>
                                        <!-- Post Body-->
                                        <div class="post-body">
                                            <p>Phasellus et lacus mattis, tincidunt metus sodales, tincidunt urna. Cras felis neque, iaculis vitae varius eu, luctus consectetur odio.</p>
                                        </div>
                                        <div class="tags group group-sm"><a class="btn-tag btn btn-default" href="#">Health</a><a class="btn-tag btn btn-default" href="#">News</a><a class="btn-tag btn btn-default" href="#">ECG</a>
                                        </div>
                                    </div>
                                </article>
                                <div class="offset-top-60">
                                    <!-- Post Modern-->
                                    <article class="post post-modern post-modern-classic">
                                        <!-- Post media-->
                                        <div class="post-media"><a class="link-image" href="{% url 'singlee' %}"><img class="img-responsive img-cover" width="370" height="240" src="{% static 'images/post-11-770x480.jpg' %}" alt=""/></a>
                                        </div>
                                        <!-- Post content-->
                                        <div class="post-content text-left">
                                            <!-- Post Title-->
                                            <div class="post-title offset-top-8">
                                                <h5 class="font-weight-bold"><a href="{% url 'singlee' %}">The Purpose and Procedure of X-ray Imaging</a></h5>
                                            </div>
                                            <ul class="list-inline list-inline-dashed">
                                                <li>June 21, 2021 at 8:12pm</li>
                                                <li><a class="text-primary" href="{% url 'singlee' %}">News</a></li>
                                            </ul>
                                            <!-- Post Body-->
                                            <div class="post-body">
                                                <p>Cras tempor eu enim id pulvinar. Proin at imperdiet felis, vel vehicula neque. Nulla quis nisl facilisis ex dignissim euismod eu vel neque.</p>
                                            </div>
                                            <div class="tags group group-sm"><a class="btn-tag btn btn-default" href="#">Health</a><a class="btn-tag btn btn-default" href="#">News</a><a class="btn-tag btn btn-default" href="#">X-ray</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                        <div class="offset-top-50 offset-lg-top-60 text-xl-left">
                            <!-- Classic Pagination-->
                            <nav>
                                <ul class="pagination-classic">
                                    <li class="active"><span class="btn btn-darkest">1</span>
                                    </li>
                                    <li><a class="btn btn-darkest" href="#">2</a>
                                    </li>
                                    <li><a class="btn btn-darkest" href="#">3</a>
                                    </li>
                                    <li><a class="btn btn-darkest" href="#">4</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-md-10 col-lg-8 col-xl-4 offset-top-66 offset-md-top-90 offset-lg-top-0">
                        <div class="blog-grid-sidebar inset-xl-left-30">
                            <!-- Aside-->
                            <aside class="text-left">
                                <!-- Search in Blog-->
                                <div>
                                    <h6>Search in Blog</h6>
                                    <hr class="text-subline">
                                    <div class="offset-top-14 offset-md-top-20 rd-search-blog">
                                        <!-- RD Search Form-->
                                        <form class="form-search rd-search" action="search-results.html" method="GET">
                                            <div class="form-wrap">
                                                <label class="form-label form-search-label" for="blog-classic-form-search-widget">Search</label>
                                                <input class="form-search-input form-input #{inputClass}" id="blog-classic-form-search-widget" type="text" name="s" autocomplete="off">
                                            </div>
                                            <button class="form-search-submit" type="submit"><span class="fa fa-search text-primary"></span></button>
                                        </form>
                                    </div>
                                </div>
                                <!-- Archive-->
                                <div class="offset-top-30 offset-md-top-60">
                                    <h6>Archive</h6>
                                    <hr class="text-subline">
                                </div>
                                <div class="offset-top-14 offset-md-top-20">
                                    <div class="row justify-content-sm-center justify-content-xl-start">
                                        <div class="col-sm-6 col-xl-5">
                                            <!-- List Marked-->
                                            <ul class="list list-marked inset-left-0 list-marked-icon text-dark list-marked-gray">
                                                <li><a href="#">Jan 2021</a></li>
                                                <li><a href="#">Mar 2021</a></li>
                                                <li><a href="#">Apr 2021</a></li>
                                                <li><a href="#">May 2021</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-6 col-xl-5 offset-top-10 offset-xs-top-0 inset-sm-left-5">
                                            <!-- List Marked-->
                                            <ul class="list list-marked inset-left-0 list-marked-icon text-dark list-marked-gray">
                                                <li><a href="#">Jul 2021</a></li>
                                                <li><a href="#">Sep 2021</a></li>
                                                <li><a href="#">Oct 2021</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- Flickr @fasttravel-->
                                <div class="offset-top-30 offset-md-top-60">
                                    <h6>gallery</h6>
                                    <hr class="text-subline">
                                </div>
                                <div class="offset-top-14 offset-md-top-20">
                                    <div class="row row-10 row-narrow-10 justify-content-center" data-lightgallery="group">
                                        <div class="col-6 col-md-4 col-xl-6"><a class="thumbnail-classic" data-lightgallery="item" href="{% static 'images/gallery-01_original.jpg' %}"><img width="165" height="165" src="{% static 'images/sidebar-img-01-165x165.jpg' %}" alt=""></a></div>
                                        <div class="col-6 col-md-4 col-xl-6"><a class="thumbnail-classic" data-lightgallery="item" href="{% static 'images/gallery-02_original.jpg' %}"><img width="165" height="165" src="{% static 'images/sidebar-img-02-165x165.jpg' %}" alt=""></a></div>
                                        <div class="col-6 col-md-4 col-xl-6"><a class="thumbnail-classic" data-lightgallery="item" href="{% static 'images/gallery-03_original.jpg' %}"><img width="165" height="165" src="{% static 'images/sidebar-img-03-165x165.jpg' %}v" alt=""></a></div>
                                        <div class="col-6 col-md-4 col-xl-6"><a class="thumbnail-classic" data-lightgallery="item" href="{% static 'images/gallery-04_original.jpg' %}"><img width="165" height="165" src="{% static 'images/sidebar-img-04-165x165.jpg' %}" alt=""></a></div>
                                        <div class="col-6 col-md-4 col-xl-6"><a class="thumbnail-classic" data-lightgallery="item" href="{% static 'images/gallery-05_original.jpg' %}"><img width="165" height="165" src="{% static 'images/sidebar-img-05-165x165.jpg' %}" alt=""></a></div>
                                        <div class="col-6 col-md-4 col-xl-6"><a class="thumbnail-classic" data-lightgallery="item" href="{% static 'images/gallery-06_original.jpg' %}"><img width="165" height="165" src="{% static 'images/sidebar-img-06-165x165.jpg' %}" alt=""></a></div>
                                    </div>
                                </div>
                                <!-- Recent Posts-->
                                <div class="offset-top-30 offset-md-top-60">
                                    <h6>Recent Posts</h6>
                                    <hr class="text-subline">
                                </div>
                                <div class="offset-top-14 offset-md-top-20">
                                    <!-- List Marked-->
                                    <ul class="list list-marked list-marked-icon text-dark inset-left-0 list-marked-gray">
                                        <li><a class="font-weight-bold" href="{% url 'singlee' %}">Reasons to Visit a Breast Specialist</a><br>
                                            <time class="text-gray-dark" datetime="2021-04-30">June 21, 2021 at 8:12pm</time>
                                        </li>
                                    </ul>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </section>
 {% endblock content %}